body {
  background-color: #000;
  text-align: center;
}

.text {
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
  z-index: 1000;
}

.pink {
  color: #e62686 !important;
}

.va {
  vertical-align: center !important;
}

.text li {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  opacity: 1;
  transition: all 1s ease-in-out;
  max-width: 2em;
}

.text.hidden li.spaced {
  padding-right: 0;
}

.text li.spaced {
  padding-right: .5em;
}

.bb {
  border-bottom: none !important;
}

.al {
  float: right;
}

.ar {
  float: left;
}

.bt {
  border-top: none !important
}

.gone.hidden, .text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}

.text {
  position: relative;
}

.leerjaar-buttons {
  margin-top: 100px;
}

.leerjaar-buttons button {
  background-color: #e62686;
  border: 0;
}

.table-bordered {
  background-color: #000;
  margin-top: 50px;
}

table td {
  padding: 10px;
}
table th {
  padding: 10px;
}

table {
  margin-top: 20px;
  margin: 0 auto;
}

#tlj1, #tlj2, #tlj3 {
  display: none;
}

@media only screen and (max-width: 600px) {
  table td {
      padding: 4px;
  }
  table th {
      padding: 4px;
  }
}
